<div class="easy-read-width">

  <h1 class="question-title">Application details</h1>

  <p>Application number 100100</p>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">First names</span></td>
      <td>Berat</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Last name</span></td>
      <td>Albayrak</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Date of birth</span></td>
      <td>30 Jun 1997</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Address</span></td>
      <td>1 Jessops Lane,<br>Edinburgh,<br>ED1 17G</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Nationality</span></td>
      <td>Turkish</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Always lived in the UK</span></td>
      <td>No</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Sex</span></td>
      <td>Male</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Work status</span></td>
      <td>Working</td>
    </tr>

  </table>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">Passport</span></td>
      <td>U749735</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Exercising EU treaty rights</span></td>
      <td>No</td>
    </tr>


  </table>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">UK arrival date</span></td>
      <td>23 Aug 2020</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Born in</span></td>
      <td>Ankara</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Email</span></td>
      <td>beratalbayrak97@gmail.com</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Telephone</span></td>
      <td>08745 463 976</td>
    </tr>


  </table>

  &nbsp;

  <p><a href="face" class="button">Next</a></p>
</div>
