<h1 class="question-title">National Insurance fallout</h1>

<p><a href="application-details" class="button">Get next case</a></p>

<hr class="stats-hr-margin">

<p class="comp-case-number">15</p>
<p class="sl-font-bold">Cases completed today</p>

<details>

  <summary><span class="summary">Completed cases for the last five days</span></summary>

  <div class="panel panel-border-narrow">

    <table class="table fallout-table comp-cases">

      <tr>
        <td><span class="sl-font-bold">Day</span></td>
        <td class="align-right"><span class="sl-font-bold">Completed cases</span></td>
      </tr>

      <tr>
        <td>Monday</td>
        <td class="align-right">23</td>
      </tr>

      <tr>
        <td>Friday</td>
        <td class="align-right">19</td>
      </tr>

      <tr>
        <td>Thursday</td>
        <td class="align-right">24</td>
      </tr>

      <tr>
        <td>Wednesday</td>
        <td class="align-right">21</td>
      </tr>

      <tr>
        <td>Tuesday</td>
        <td class="align-right">17</td>
      </tr>

    </table>

  </div>

</details>

&nbsp;
