



  <form action="/decision" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h2 class="question-title">What is your decision about Berat Albayrak's application?</h2>
      </legend>

      <div class="multiple-choice">
        <input id="decision-allocated" type="radio" name="decision" value="allocated">
        <label for="decision-allocated">Allocated</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-refused" type="radio" name="decision" value="refused">
        <label for="decision-refused">Refused</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-traced" type="radio" name="decision" value="traced">
        <label for="decision-traced">Traced</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-upgraded" type="radio" name="decision" value="upgraded">
        <label for="decision-upgraded">Upgraded</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
