


  <form action="/decision-gnc-p3" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="question-title">What is your decision about {{ data['afn2-p3-gnc-firstnames'] }} Dela Cruz's application?</h1>
      </legend>

      <div class="multiple-choice" data-target="new-nino">
        <input id="account-question-yes" type="radio" name="decision" value="allocated">
        <label for="account-question-yes">Allocated</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="new-nino">
      <label class="form-label" for="new-nino">National Insurance number</label>
      <input class="form-control" name="new-nino" type="text" id="new-nino">
      </div>

      <div class="multiple-choice">
        <input id="decision-traced" type="radio" name="decision" value="traced">
        <label for="decision-traced">Traced</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-upgraded" type="radio" name="decision" value="upgraded">
        <label for="decision-upgraded">Upgraded</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-refused" type="radio" name="decision" value="refused">
        <label for="decision-refused">Refused</label>
      </div>

      <p class="form-block">or</p>

      <div class="multiple-choice">
        <input id="decision-info-initial" type="radio" name="decision" value="info-initial">
        <label for="decision-info-initial">Requested further information (initial request)</label>
      </div>

      <div class="multiple-choice">
        <input id="decision-info-reminder" type="radio" name="decision" value="info-reminder">
        <label for="decision-info-reminder">Requested further information (reminder sent)</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->

  <button class="button" type="submit">Next</button>


</form> <!-- END form --><!-- END form-group -->
