<div class="easy-read-width">

  <h1 class="question-title">Application details</h1>

  <p>Application number 100100</p>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">First names</span></td>
      <td>Lucy</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Last name</span></td>
      <td>Zhao</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Previous last name 1</span></td>
      <td>Han</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Previous last name 2</span></td>
      <td>Huang</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Date of birth</span></td>
      <td>30 Jun 1997</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Address</span></td>
      <td>1 Jessops Lane,<br>Edinburgh,<br>ED1 17G</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Correspondence<br>address</span></td>
      <td>33 Hunters Cresent,<br>Falkirk,<br>FK3 45P</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Nationality</span></td>
      <td>Chinese</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Always lived in<br>the UK</span></td>
      <td>No</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Sex</span></td>
      <td>Female</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Work status</span></td>
      <td>Not working or looking for work</td>
    </tr>

  </table>

  &nbsp;

  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">Passport number</span></td>
      <td>X0X0X0X0X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">ID card number</span></td>
      <td>X0X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">BRP number</span></td>
      <td>X0X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Visa application<br>number</span></td>
      <td>X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Home Office visa<br>application pending</span></td>
      <td>Yes</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Home Office status<br>letter number</span></td>
      <td>X0X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">UK residence<br>card number</span></td>
      <td>X0X0X0</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Exercising EU<br>treaty rights</span></td>
      <td>Yes</td>
    </tr>

  </table>

  &nbsp;

  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">UK arrival</span></td>
      <td>10 May 2005</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Born in</span></td>
      <td>Naning, China</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Last address in the EU</span></td>
      <td>Guangxi, China</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Email address</span></td>
      <td>Lucy.zhao@gmail.com</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Telephone</span></td>
      <td>07986 546 324</td>
    </tr>

  </table>

  &nbsp;

  <p><a href="ref-no" class="button">Close</a></p>
</div>
