


  <form action="/contacted-gnc" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="question-title">Who have you sent a reminder to?</h1>
      </legend>

      <div class="multiple-choice">
        <input id="contacted-home-office" type="radio" name="contacted" value="home-office">
        <label for="contacted-home-office">Home Office</label>
      </div>

      <div class="multiple-choice">
        <input id="contacted-nifu" type="radio" name="contacted" value="nifu">
        <label for="contacted-nifu">National Identity Fraud Unit (NIFU)</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
