<h1 class="question-title fallout-title">Search for possible matches</h1>

<p class="margin-bottom-40">Use the applicant’s details and their Home Office record to check they don’t already have an account on CIS.</p>

<div id="fallout" class="grid-row">

  <div class="column-one-half hard-right-border">

    <h2 class="sl-font-bold sl-third-heading">Search</h2>

    <form class="form" action="results-01" method="post">

        <div class="form-group">

          <div class="form-group left">
            <label class="form-label" for="first-and-middle-names">
              First and middle names
            </label>
            <input class="form-control fallout-input" id="first-and-middle-names" type="text" name="first-and-middle-names">
          </div>

          <div class="form-group left">
            <label class="form-label" for="last-name">
              Last name
            </label>
            <input class="form-control fallout-input" id="last-name" type="text" name="last-name">
          </div>

          <div class="form-group left">
            <label class="form-label" for="date-of-birth">
              Date of birth
            </label>
            <input class="form-control" id="date-of-birth" type="text" name="date-of-birth">
          </div>

          <div class="fallout-details">
            <a href="search-01-expanded">Show more options</a>
          </div>

          <div class="fallout-trace-options" >
            <div class="form-group">
                <fieldset>
                  <legend class="visually-hidden">
                    <p>Trace options</p>
                  </legend>
                  <div class="multiple-choice">
                    <input id="relaxed" name="trace-options" type="checkbox" value="relaxed">
                    <label for="relaxed"><span>Relaxed trace</span><br> <span>Include similar names</span></label>
                  </div>
                  <div class="multiple-choice">
                    <input id="multipart" name="trace-options" type="checkbox" value="multipart">
                    <label for="multipart"><span>Multipart surname</span><br> <span>Prefix, hyphen, part name</span></label>
                  </div>
                  <div class="multiple-choice">
                    <input id="historic" name="trace-options" type="checkbox" value="historic">
                    <label for="historic"><span>Historic trace</span><br> <span>Include historic entries</span></label>
                  </div>
                </fieldset>
              </div> <!-- END form-group -->

          </div> <!-- END form-col-small -->

          <div class="form-group buttons">
          <button class="button" type="submit">Search</button>
          <a href="#" class="button sl-secondary-button" type="submit">Clear form</a>
          </div> <!-- END form-group -->


        </div> <!-- END form-group -->
      </form>


  </div> <!-- END column-one-half -->

  <div class="column-one-half hard-left-border">
    {% include "../applicant-details.njk" %}
  </div>  <!-- END column-one-half -->

</div>
