<h2 class="sl-font-bold sl-third-heading">Application details</h2>
<p><strong class="bold">Name</strong><br>Lucy Zhao</p>
<p><strong class="bold">Previous name</strong><br>Lucy Han</p>
<p><strong class="bold">Date of birth</strong><br>30 Jun 1979</p>
<p><strong class="bold">Address</strong><br>19 Old Road,<br>Durham, DH8 123</p>
<p><strong class="bold">Previous address 1</strong><br>12A the Cresent<br>Bristol, BS1 1AH</p>
<p><strong class="bold">Previous addres 2</strong><br>1 Jessops Lane,<br>Edinburgh, ED1 17G</p>
<p><strong class="bold">Home Office reference</strong><br>Y7EU9 LMQ JYA S5X81</p>
