

  <h1 class="question-title">Application search results</h1>

  <form action="test" method="post" >

  <div class="form-group">
    <fieldset>

      <p class="govuk-body">We have found 18 applications using the <bold>passport number AUB12345</bold></p>

      <h2 class="heading-medium"> Which application do you want to view?</h2>

      
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="application-details_1" onclick="window.open('application-details_1', 'newwindow', 'width=300, height=250'); return false;" >X8293847</a>
  </li>
  <hr>
  <li>
    <a class="govuk-link" href="application-details_2">L9873517</a>
  </li>
  <hr>
  <li>
    <a class="govuk-link" href="application-details_3">P9371627</a>
  </li>
  <hr>
  <li>
    <a class="govuk-link" href="application-details_1">A8375619</a>
  </li>
  <hr>
    <li>
    <a class="govuk-link" href="application-details_2">X8293847</a>
  </li>
<hr>
  <li>
    <a class="govuk-link" href="application-details_3">L9873517</a>
  </li>
<hr>
  <li>
    <a class="govuk-link" href="application-details_1">P9371627</a>
  </li>
<hr>
 <li>
    <a class="govuk-link" href="application-details_2">A8375619</a>
  </li>
  <hr>
    <li>
    <a class="govuk-link" href="application-details_3">X8293847</a>
  </li>
<hr>
  <li>
    <a class="govuk-link" href="application-details_1">L9873517</a>
  </li>
<hr>
  <li>
    <a class="govuk-link" href="application-details_1">P9371627</a>
  </li>
<hr>
  <li>
    <a class="govuk-link" href="application-details_2">A8375619</a>
  </li>
</ul>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->

