{% extends "./template.html" %}

{% block pagetitle %}
  Apply for a NINo
{% endblock %}

{% block protocontent %}
  <div class="group">
    <ul>
      <li><a href="../apply-for-a-nino-2-phase-3-force">Apply for a NINo 2.0 - Phase 3 - Force allocate</a></li>
      <li>April 2021</li>
      <li>Edit application details</li>
    </ul>

  <hr>

  <div class="group">
    <ul>
      <li><a href="../apply-for-a-nino-2-phase-3-gnc">Apply for a NINo 2.0 - Phase 3</a></li>
      <li><a href="../apply-for-a-nino-2-phase-3-gnc/scanned-passport" target="_blank">Identity document</a></li>
      <li>February 2021</li>
      <li>Edit application details</li>
    </ul>

    <hr>

    <ul>
      <li><a href="../apply-for-a-nino-2-phase-2">Apply for a NINo 2.0 - Phase 2</a></li>
      <li>January 2021</li>
      <li>Face-to-face ID check</li>
    </ul>

    <ul>
      <li><a href="../apply-for-a-nino-2-phase-2-gnc">Apply for a NINo 2.0 - Phase 2</a></li>
      <li>January 2021</li>
      <li>Get next case</li>
    </ul>

    <hr>

    <ul>
      <li><a href="../apply-for-a-nino">Apply for a NINo 2.0</a></li>
      <li>November 2020</li>
      <li>Face-to-face and remote ID check</li>
    </ul>

    <ul>
      <li><a href="../apply-for-a-nino/ref-no-dm.html">Apply for a NINo 2.0 Decision only</a></li>
      <li>November 2020</li>
      <li>Decision post face-to-face ID check</li>
    </ul>

    <hr>

    <ul>
      <li><a href="../apply-for-a-nino-1">Apply for a NINo 1</a></li>
      <li>September 2020</li>
    </ul>
</div>
{% endblock %}
