{% extends "./template.html" %}

{% block pagetitle %}
  Get a NINo fallout
{% endblock %}

{% block protocontent %}
  <div class="group">
    <ul>
      <li><a href="../fallout_three">Fallout dual screen v.10.1</a></li>
      <li>July 2020</li>
    </ul>

    <ul>
      <li><a href="../fallout_two" target="_blank">Fallout dual screen</a><br />
      <a href="../fallout-trace">Searchlight trace</a></li>
      <li>June 2020</li>
    </ul>

    <ul>
      <li><a href="../fallout">Get a NINo</a></li>
      <li>May 2020</li>
    </ul>
</div>
{% endblock %}
