



  <form action="/refused-reason-gnc-p3" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h2 class="question-title">What is the reason for your refusal?</h2>
      </legend>

      <div class="multiple-choice">
        <input id="refused-reason-busneed" type="radio" name="refused-reason" value="busneed">
        <label for="refused-reason-busneed">No business need</label>
      </div>

      <div class="multiple-choice">
        <input id="refused-reason-rid" type="radio" name="refused-reason" value="id">
        <label for="refused-reason-id">Unable to provide identity</label>
      </div>

      <div class="multiple-choice">
        <input id="refused-reason-rtw" type="radio" name="refused-reason" value="rtw">
        <label for="refused-reason-rtw">No right to work</label>
      </div>

      <div class="multiple-choice">
        <input id="refused-reason-rtr" type="radio" name="refused-reason" value="rtr">
        <label for="refused-reason-rtr">No right to reside</label>
      </div>

      <div class="multiple-choice">
        <input id="refused-reason-failure" type="radio" name="refused-reason" value="failure">
        <label for="refused-reason-failure">failure to respond</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
