
      <h2 class="heading-medium dwp-timeline__heading">Application history</h2>
      <ol class="dwp-timeline">

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Evidence uploaded</h3>
          <p class="dwp-timeline__body">Yes</p>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">19 January 2021</span>
          </p>
        </li>

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Proved ID</h3>
          <p class="dwp-timeline__body">Yes</p>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">19 January 2021</span>
          </p>
        </li>

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Application submitted</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">18 January 2021</span>
          </p>
        </li>

      </ol>
