


  <form action="/id-check-type" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="question-title">How are you carrying out this identity check?</h1>
      </legend>

      <div class="multiple-choice">
        <input id="id-check-type-face" type="radio" name="id-check-type" value="face">
        <label for="id-check-type-face">Face-to-face</label>
      </div>

      <div class="multiple-choice">
        <input id="id-check-type-remotely" type="radio" name="id-check-type" value="remotely">
        <label for="id-check-type-remotely">Remotely</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
