<div class="easy-read-width">

  <h1 class="question-title">Application details</h1>

  <p>Application number 100100</p>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">First names</span></td>
      <td>Raymond Fredrick</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Last name</span></td>
      <td>Briggs</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Date of birth</span></td>
      <td>30 Jun 1997</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Address</span></td>
      <td>1 Jessops Lane,<br>Edinburgh,<br>ED1 17G</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Nationality</span></td>
      <td>British</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Always lived in the UK</span></td>
      <td>Yes</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Sex</span></td>
      <td>Male</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Work status</span></td>
      <td>Working</td>
    </tr>

  </table>

  &nbsp;

  <p><a href="ref-no" class="button">Close</a></p>
</div>
