

  <h1 class="question-title">Application search results</h1>

  <form action="application-details" method="post" >

  <div class="form-group">
    <fieldset>

      <p class="govuk-body">We have found 18 applications using the <bold>passport number AUB12345</bold></p>

      <h2 class="heading-medium"> Which application do you want to view?</h2>


      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes"> X8293847</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes"> X8293847</label>
      </div>

            <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes"> X8293847</label>
      </div>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio" name="duplicates_radio" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio">
          X8293847
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id=duplicates_radio-2" name="duplicates_radio" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-2">
          K9485762
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-3" name="duplicates_radio" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-3">
          A9846277
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-4" name="duplicates_radio" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-4">
          X1287889
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-5" name="duplicates_radio" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-5">
          L9822673
        </label>
      </div>
      <hr>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-6" name="duplicates_radio" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-6">
          X8293847
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-7" name="duplicates_radio" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-7">
          K9485762
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-8" name="duplicates_radio" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-8">
          A9846277
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-9" name="duplicates_radio" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-9">
          X1287889
        </label>
      </div>
      <hr>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates_radio-10" name="duplicates_radio" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates_radio-10">
          L9822673
        </label>
      </div>
    </div>



    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
