

  <h1 class="question-title">Application search results</h1>

  <form action="application-details" method="post" >

  <div class="form-group">
    <fieldset>

      <p class="govuk-body">We have found 18 applications using the <bold>passport number AUB12345</bold></p>

      <h2 class="heading-medium"> Which application do you want to view?</h2>


    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates" name="duplicates" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="duplicates">
          X8293847
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id=duplicates-2" name="duplicates" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="duplicates-2">
          K9485762
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-3" name="duplicates" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="duplicates-3">
          A9846277
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-4" name="duplicates" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates-4">
          X1287889
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-5" name="duplicates" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates-5">
          L9822673
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-6" name="duplicates" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="duplicates-6">
          X8293847
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-7" name="duplicates" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="duplicates-7">
          K9485762
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-8" name="duplicates" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="duplicates-8">
          A9846277
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-9" name="duplicates" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates-9">
          X1287889
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="duplicates-10" name="duplicates" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="duplicates-10">
          L9822673
        </label>
      </div>
    </div>



    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
