

  <h1 class="question-title">Application search results</h1>

  <form action="application-details" method="post" >

  <div class="form-group">
    <fieldset>

      <p class="govuk-body">We have found 18 applications using the <bold>passport number AUB12345</bold></p>

      <h2 class="heading-medium"> Which application do you want to view?</h2>


      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes"> X8293847</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">A9836271</label>
      </div>

            <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">P9823413</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">A1289435</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">L1749284</label>
      </div>

            <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">S1827492</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">C7735261</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">W1837462</label>
      </div>

            <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">K9983642</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">C7735261</label>
      </div>

      <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">W1837462</label>
      </div>

            <div class="multiple-choice" data-target="app-ref">
        <input id="account-question-yes" type="radio" name="account-question" value="yes">
        <label for="account-question-yes">K9983642</label>
      </div>


    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
<br><br>

<a href="duplicates_link">Prototype for alternative layout</a>
