<h1 class="question-title">Application details</h1>


<table class="table fallout-table">

  <tr>
    <td><span class="sl-font-bold">First name</span></td>
    <td>Akshay</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Last name</span></td>
    <td>Kumar</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Date of birth</span></td>
    <td>1 Jan 1975</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Address</span></td>
    <td>12a The Crescent,<br>Bristol, BS1 1AH</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Previous address 1</span></td>
    <td>203 Cheltenham Road,<br>Bristol, BS6 5QX</td>
  </tr>

</table>

&nbsp; &nbsp;

<table class="table fallout-table">

  <tr>
    <td><span class="sl-font-bold">Home Office reference</span></td>
    <td>Y7EU9 LMQ JYA S5X81</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Nationality</span></td>
    <td>Indian</td>
  </tr>

  <tr>
    <td><span class="sl-font-bold">Contact number</span></td>
    <td>07823 747 329</td>
  </tr>

</table>

&nbsp;

<p><a href="account-question" class="button">Next</a></p>
