


  <form action="/info-applicant-gnc" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="question-title">What information did you request?</h1>
      </legend>

      <div class="multiple-choice">
        <input id="info-applicant-rtw" type="radio" name="info-applicant" value="rtw">
        <label for="info-applicant-rtw">Right to work</label>
      </div>

      <div class="multiple-choice">
        <input id="info-applicant-rtr" type="radio" name="info-applicant" value="rtr">
        <label for="info-applicant-rtr">Right to reside</label>
      </div>

      <div class="multiple-choice">
        <input id="info-applicant-trace-deets" type="radio" name="info-applicant" value="trace-deets">
        <label for="info-applicant-trace-deets">Details to resolve a possible trace</label>
      </div>

      <div class="multiple-choice">
        <input id="info-applicant-other" type="radio" name="info-applicant" value="other">
        <label for="info-applicant-other">Other documents</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


    <button class="button" type="submit">Next</button>

</form> <!-- END form --><!-- END form-group -->
