<div class="easy-read-width">

  <h1 class="question-title">Application details</h1>

  <p>Application number 100100</p>



  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">First names</span></td>
      <td>{{ data['afn2-p3-gnc-firstnames'] }}</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>

    </tr>

    <tr>
      <td><span class="sl-font-bold">Last name</span></td>
      <td>Dela Cruz</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Date of birth</span></td>
      <td>16 Mar 1980</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Address</span></td>
      <td>1 Jessops Lane,<br>Edinburgh,<br>ED1 17G</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Nationality</span></td>
      <td>Filipino</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Always lived<br />in the UK</span></td>
      <td>No</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Sex</span></td>
      <td>Female</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Work status</span></td>
      <td>Working</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold"><br /><br />Passport</span></td>
      <td><br /><br />P0000000A</td>
      <td class="edit-link-alignment"><br /><br /><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Exercising EU<br />treaty rights</span></td>
      <td>No</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold"><br /><br />UK arrival date</span></td>
      <td><br /><br />23 Aug 2020</td>
      <td class="edit-link-alignment"><br /><br /><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Born in</span></td>
      <td>Manila</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Email</span></td>
      <td>mariasantos97@gmail.com</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Telephone</span></td>
      <td>08745 463 976</td>
      <td class="edit-link-alignment"><a href="#" class="secondary-link">Edit</a></td>
    </tr>


  </table>

  &nbsp;

  <p><a href="what-your-decision" class="button">Next</a></p>
</div>
