


<h2 class="question-title">Confirm the National Insurance number allocated to {{ data['afn2-p3-gnc-firstnames'] }} Dela Cruz is:</h2>

<p class="confirm-nino">{{ data['new-nino'] }}</p>

<!-- <table class="table fallout-table fallout-three">

  <tr>
    <td><span class="sl-font-bold">National Insurance<br />number</span></td>
    <td>{{ data['new-nino'] }}</td>
    <td class="edit-link-alignment"><a href="what-your-decision" class="secondary-link">Change</a></td>
  </tr>

</table> -->

&nbsp;

<p><a href="gnc" class="button">Confirm and close</a></p>
