<div class="easy-read-width">

  <h1 class="question-title">Check your answers</h1>

  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">ID check method</span></td>
      <td>Face-to-face</td>
      <td><a href="#" class="secondary-link">Change</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Proved ID</span></td>
      <td>Yes</td>
      <td><a href="#" class="secondary-link">Change</a></td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Evidence upload</span></td>
      <td>Yes</td>
      <td><a href="#" class="secondary-link">Change</a></td>
    </tr>

  </table>

  &nbsp;

  <p><a href="ref-no" class="button">Confirm and close</a></p>
</div>
