<div class="easy-read-width">

  <h1 class="question-title">Application details</h1>

  <p><a class="proper-link" href="/fallout-trace" target="_blank">Open another Searchlight window</a> to check the applicant’s details don’t match an existing account in CIS.</p>

  <p>Return to this screen when you've completed your investigation.</p>

   &nbsp;

  <div class="notice">
    <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
    <strong class="bold-small">Do not create a new account in Searchlight.</strong>
  </div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

  <table class="table fallout-table fallout-three">

    <tr>
      <td><span class="sl-font-bold">First name</span></td>
      <td>Akshay</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Last name</span></td>
      <td>Kumar</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Date of birth</span></td>
      <td>1 Jan 1975</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Address</span></td>
      <td>12a The Crescent,<br>Bristol, BS1 1AH</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Previous address 1</span></td>
      <td>203 Cheltenham Road,<br>Bristol, BS6 5QX</td>
    </tr>

  </table>

  &nbsp; &nbsp;

  <table class="table fallout-table">

    <tr>
      <td><span class="sl-font-bold">Home Office reference</span></td>
      <td>Y7EU9 LMQ JYA S5X81</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Nationality</span></td>
      <td>Indian</td>
    </tr>

    <tr>
      <td><span class="sl-font-bold">Contact number</span></td>
      <td>07823 747 329</td>
    </tr>

  </table>

  &nbsp;

  <p><a href="account-question" class="button">Next</a></p>
</div>
