


  <form action="/face-satisfied" method="post" >

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="question-title">Have you uploaded additional evidence to support this application?</h1>
      </legend>

      <div class="multiple-choice">
        <input id="face-satisfied-yes" type="radio" name="face-satisfied" value="yes">
        <label for="face-satisfied-yes">Yes</label>
      </div>

      <div class="multiple-choice">
        <input id="face-satisfied-no" type="radio" name="face-satisfied" value="no">
        <label for="face-satisfied-no">No</label>
      </div>

    </fieldset>

  </div> <!-- END form-group -->


</form> <!-- END form --><!-- END form-group -->

<p><a href="face-check" class="button">Next</a></p>
